*{
  --nav-load-time: 500ms;
  --nav-background-color: var(--button-color);
  --border-size: 2px;
  --nav-accent-color: rgb(var(--accent-color));
  --circle-duration: 150ms;
}

a{ 
    color: inherit; 
    text-decoration: none; 
    font-size: 200%;
    font-size-adjust: inherit;
    text-align: center;
} 

.flexNavBox{
  display: flex;
  justify-content:center;
  align-items:center;

  flex-direction: column;
  height: 96vh;
}

.btn{
  background-color: var(--nav-background-color);
  color: var(--text-color);
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.navBtn{
  margin: 10px;
  width: 90%;
  height: 5vh;
  padding-top: 2vh;
  animation: 
    show-btns var(--nav-load-time) 
    cubic-bezier(.25,.46,.45,.94) forwards;
  opacity: 0;
}

header .navBtn:nth-child(2){ animation-delay: 75ms; }
header .navBtn:nth-child(3){ animation-delay: 150ms; }
header .navBtn:nth-child(4){ animation-delay: 225ms; }
header .navBtn:nth-child(5){ animation-delay: 300ms; }
header .navBtn:nth-child(6){ animation-delay: 375ms; }
header .navBtn:nth-child(7){ animation-delay: 450ms; }

/*==============================================CircleBtns=======*/
.btn.anim-circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--nav-background-color);
  border-radius: 50%;

  transition: transform var(--circle-duration) ease-in-out;

  transform: scale(1.5);
}

.btn.anim-circle{
  z-index: 1;
  overflow: hidden;
  background-color: var(--nav-accent-color); /*YOOOOOOOOOOO thats crazy*/
  transition: color var(--circle-duration) ease-in-out;
}

.btn.anim-circle:hover::before,
.btn.anim-circle:focus::before { 
  transform: scale(0);
}

.btn.anim-circle:hover,
.btn.anim-circle:focus {
  color:var(--accent-text-color);
}

@keyframes show-btns {
  0%{
    transform: translateY(-100%);
    opacity: 0;
  }

  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

