.single-view-grid{
  width: 100%;  
  margin-top: 2vh;
}

.image-frame{
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-frame>img{
  max-height: 98%;
  max-width: 100%;
}

.single-text-grid{
  background-color: var(--watered-down-accent);
  color: var(--text-color);
  padding: 5px 20px 5px;
  border-radius: 10px;
  margin-top: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.single-text-grid>h1{
  font-size: 2.5rem;
  min-height: 3vh;
  margin-left: 4%;
}

.single-text-grid>p{
  font-size: 1.2rem;
  margin-left: 4.5%;
  /* min-height: 20vh; */
  max-height:fit-content;
  white-space: pre-line;
}

.gradient {
  height: 20px;
  position: relative;
  width: 100%;
  background: radial-gradient(ellipse farthest-side at top center, rgba(0,0,0,0.08), transparent);
}
.gradient:before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  height: 3px;
  background: linear-gradient(left, transparent, rgba(0,0,0,0.02), rgba(0,0,0,0.02), transparent);
}

.check-list {
  margin: 0;
  padding-left: 1.2rem;
}

.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
}

.check-list li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 5px;
  border-width: 0px 0px 2px 2px;
  border-style: solid;
  border-color: var(--accent-text-color);
  transform-origin: bottom left;
}
.check-list > li > a {
   font-size: inherit;
   text-decoration: underline;
 }