#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

main{
  position: absolute;
  z-index: 1;

  /* display: grid;
  grid-template-columns: repeat(12,1fr); */
}





