.expandedH1{
    letter-spacing: 0.3rem;
    text-align: center;
    margin-top: 14rem;
    font-size: 4em;
    margin-bottom: 14rem;
}

.centeredtext{
    text-align: center;
}

@media (max-width: 767px) {
    .expandedH1{
        letter-spacing: 0.3rem;
        font-size: 3.2rem;
    }
}

@media (max-width: 480px) {
    .expandedH1{
        letter-spacing: 0rem;
        font-size: 2em;
    }
}










